src/main/app/munit_decision.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule 
	 xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">



<flow name="mainFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/mainflow" allowedMethods="GET" doc:name="HTTP"/>
       
        <set-payload value="#[message.inboundProperties['http.query.params']['decisionKey']]" doc:name="Set Payload"/>
        <flow-ref name="decisionFlow" doc:name="decisionFlow"/>

        <choice doc:name="Choice">
            <when expression="#[flowVars['decisionVariable'].equals('Decision1')]">
                <set-payload value="#['Decision1 was taken']" doc:name="Set Response Payload"/>
            </when>
            <otherwise>
                <set-payload value="#['Other than Decision1 was taken']" doc:name="Set Response Payload"/>
            </otherwise>
        </choice>
    </flow>

    <flow name="decisionFlow">
        <choice doc:name="Choice">
            <when expression="#['value1'.equals(payload)]">
                <flow-ref name="decision1SubFlow" doc:name="decision1SubFlow"/>
            </when>
            <otherwise>
                <flow-ref name="decision2SubFlow" doc:name="decision2SubFlow"/>
            </otherwise>
        </choice>
    </flow>

    <sub-flow name="decision1SubFlow">
        <set-variable variableName="decisionVariable" value="#['Decision1']" doc:name="decisionVariable"/>
    </sub-flow>

    <sub-flow name="decision2SubFlow">
        <set-variable variableName="decisionVariable" value="#['Decision2']" doc:name="decisionVariable"/>
    </sub-flow>
    
</mule>
